
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

body {
	height: 600px;
	margin: 0;

}   
   
.sitebg{
	display: table;
	background-image: url(../img/bg2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100%;

}   

.wrapper {
	width: 100%;
	max-width: 71.25em;
	margin: 0 auto;
	padding: 0;
	background-color: #fff;
	opacity: 0.8;
}

#main {
	background-color: black;
	opacity: 0.5;

}

h1#headline{
	font-family: "helvetica", helvetica, serif;
	font-size: 2em;
	color: #fff;
}

#yd {
	font-weight: bold;
	font-color: #000;
}

#subHeadline {
	font-family: "garamond", garamond, sans-serif;
	color: #ffe
}

#companyLogo {
	color: #fff;
}

#menu-primary #primaryItems li a {
	color: #fff;
	background-color: #000;
	opacity: 0.5;

}

#menu-primary #primaryItems li {
	border: 1px solid black;
}

#menu-primary #primaryItems ul{
	padding-right: 1%;
}
	
	