
<div class="wrapper sitebg">

	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
		
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  
			  <ul class="nav navbar-nav navbar-right">
				<li><a href="#">About</a></li>
				<li><a href="#">Past Projects</a></li>
				<li><a href="#">Essays</a></li>
				<li><a href="#">Contact</a></li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
				  <ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li><a href="#">Separated link</a></li>
				  </ul>
				</li>
			  </ul>
			</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="container">
		<div class="row">

			<h1 class="text-center" id="headline">Y&D International</h1>
		
			<h3 class="text-center">International Development Strategy. Program Design. Implementation & Evaluation.</h3>
		
		</div>
	</div>

</div>